body {
    background-color: whitesmoke;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar.bg-body-tertiary {
    background-color: #FFBA2F !important;
}

.navbar .navbar-nav .nav-link {
    color: black;
}

.navbar .navbar-brand {
    color: black
}

.navbar-toggler-icon {
    color: black;
}

.navbar-toggler img {
    color: black;
    width: 190%;
}


@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(0, 0, 128, 0.15);
        backdrop-filter: blur(10px);
    }

    .navbar .navbar-nav .nav-link {
        color: white;
    }
}